spring:
  application:
    name: decaf
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:file:C:/Users/lg/test;IFEXISTS=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create-drop

jwt:
  expiration: 3600000 # Example: JWT expiration time in milliseconds (1 hour)

logging:
  level:
    org:
      springframework:
        security: DEBUG